<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${ingredient.id == null} ? #{table.ingredient.save} : #{table.ingredient.update}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media='screen'
          th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div th:replace="~{fragments :: alert-block(${alert})}"></div>
<div class="content">
    <form name="update"
          method="post"
          th:object="${ingredient}"
          th:action="@{/ingredients/save}">
        <h2 th:text="${ingredient.id == null} ? #{table.ingredient.save} : #{table.ingredient.update}"></h2>
        <input type="hidden"
               th:field="*{id}"
               required>
        <div class="input-group">
            <label for="name-input" th:text="#{table.ingredient.column.name} + ':' "></label>
            <input id="name-input"
                   type="text"
                   th:field="*{name}"
                   required>
        </div>
        <div class="input-group">
            <label for="type-input" th:text="#{table.ingredient.column.product-type} + ':' "></label>
            <select id="type-input"
                    th:field="*{productType}"
                    required>
                <option th:each="productTypeValue : ${T(cerlace.tastetrack.persistence.enums.ProductType).values()}"
                        th:value="${productTypeValue}"
                        th:text="#{${productTypeValue.messageKey}}">
                </option>
            </select>
        </div>
        <button type="submit"
                class="medium-action-button"
                th:text="#{button.send}">
        </button>
    </form>
    <form name="list-ingredients"
          method="get"
          th:action="@{/ingredients}">
        <button type="submit"
                class="medium-action-button"
                th:text="#{table.ingredient.return}">
        </button>
    </form>
</div>
</body>
</html>