<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{button.change-password}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media='screen'
          th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div th:replace="~{fragments :: alert-block(${alert})}"></div>
<div class="content">
    <form name="change-password-form"
          method="post"
          th:object="${user}"
          th:action="@{/profile/change-password}">
        <div class="input-group">
            <label for="old-password-input" th:text="#{table.user.column.old-password} + ':' "></label>
            <input id="old-password-input"
                   type="password"
                   th:field="*{oldPassword}"
                   required>
        </div>
        <div class="input-group">
            <label for="password-input" th:text="#{table.user.column.password} + ':' "></label>
            <input id="password-input"
                   type="password"
                   th:field="*{password}"
                   required>
        </div>
        <div class="input-group">
            <label for="password-confirm-input" th:text="#{table.user.column.password-confirm} + ':' "></label>
            <input id="password-confirm-input"
                   type="password"
                   th:field="*{passwordConfirm}"
                   required>
        </div>
        <button type="submit"
                class="medium-action-button"
                th:text="#{button.send}">
        </button>
    </form>
    <form name="profile"
          method="get"
          th:action="@{/profile}">
        <button type="submit"
                class="medium-action-button"
                th:text="#{button.return}">
        </button>
    </form>
</div>
</body>
</html>