<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{table.user.list}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media='screen'
          th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div th:replace="~{fragments :: alert-block(${alert})}"></div>
<div class="content">
    <div class="line-container">
        <h1 th:text="#{table.user.list} + ':' "></h1>
        <form name="save-user"
              method="get"
              th:action="@{/users/create}">
            <button type="submit"
                    class="medium-action-button"
                    th:text="#{table.user.save}">
            </button>
        </form>
    </div>
    <table>
        <tr>
            <th class="sortable-header">
                <a th:href="@{/users(page=0,
                              size=${pageSettings.size},
                              sortField='username',
                              sortDirection=${pageSettings.sortField == 'username' ?
                                  (pageSettings.sortDirection == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                    <span th:text="#{table.user.column.username}  + ' ' "></span>
                    <span
                            th:if="${pageSettings.sortField == 'username'}"
                            th:text="${pageSettings.sortDirection == 'asc' ? '&#9650;' : '&#9660;'}">
                    </span>
                </a>
            </th>
            <th class="sortable-header">
                <a th:href="@{/users(page=0,
                              size=${pageSettings.size},
                              sortField='fullName',
                              sortDirection=${pageSettings.sortField == 'fullName' ?
                                  (pageSettings.sortDirection == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                    <span th:text="#{table.user.column.full-name}  + ' ' "></span>
                    <span
                            th:if="${pageSettings.sortField == 'fullName'}"
                            th:text="${pageSettings.sortDirection == 'asc' ? '&#9650;' : '&#9660;'}">
                    </span>
                </a>
            </th>
            <th class="sortable-header">
                <a th:href="@{/users(page=0,
                              size=${pageSettings.size},
                              sortField='birthDate',
                              sortDirection=${pageSettings.sortField == 'birthDate' ?
                                  (pageSettings.sortDirection == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                    <span th:text="#{table.user.column.birth-date}  + ' ' "></span>
                    <span
                            th:if="${pageSettings.sortField == 'birthDate'}"
                            th:text="${pageSettings.sortDirection == 'asc' ? '&#9650;' : '&#9660;'}">
                    </span>
                </a>
            </th>
            <th th:text="#{table.user.column.gender}"></th>
            <th th:text="#{table.user.column.roles}"></th>
            <th th:text="#{table.user.column.user-meals}"></th>
            <th colspan="2" th:text="#{label.action}"></th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.birthDate}"></td>
            <td th:text="#{${user.gender.messageKey}}"></td>
            <td>
                <p th:each="role : ${user.roles}" th:text="${role.name}"></p>
            </td>
            <td>
                <form name="list-meals"
                      method="get"
                      th:action="@{/users/{userId}/meals(userId=${user.id})}">
                    <button type="submit"
                            class="small-action-button"
                            th:text="#{label.diary}">
                    </button>
                </form>
            </td>
            <td>
                <form name="update"
                      method="get"
                      th:action="@{/users/edit/{userId}(userId=${user.id})}">
                    <button type="submit"
                            class="small-action-button update"
                            th:text="#{button.update}">
                    </button>
                </form>
            </td>
            <td>
                <form name="delete"
                      method="post"
                      th:action="@{/users/delete/{userId}(userId=${user.id})}">
                    <button type="submit"
                            class="small-action-button delete"
                            th:onclick="'return confirm(\'' + #{alert.confirm.delete} + '\');'"
                            th:text="#{button.delete}">
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <a th:if="${pageSettings.page > 0}"
           th:href="@{/users(page=${pageSettings.page - 1},
                       size=${pageSettings.size},
                       sortField=${pageSettings.sortField},
                       sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="#{button.previous}"></a>

        <span th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:if="${page != pageSettings.page}"
           th:href="@{/users(page=${page},
                           size=${pageSettings.size},
                           sortField=${pageSettings.sortField},
                           sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="${page + 1}"></a>
        <span th:unless="${page != pageSettings.page}"
              class="pagination-current"
              th:text="${page + 1}"></span>
        </span>
        <a th:if="${pageSettings.page < totalPages - 1}"
           th:href="@{/users(page=${pageSettings.page + 1},
                       size=${pageSettings.size},
                       sortField=${pageSettings.sortField},
                       sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="#{button.next}"></a>

        <form class="pagination-size-form"
              th:action="@{/users}"
              method="get">
            <input type="hidden" name="page" th:value="0">
            <input type="hidden" name="sortField" th:value="${pageSettings.sortField}">
            <input type="hidden" name="sortDirection" th:value="${pageSettings.sortDirection}">
            <input type="number"
                   name="size"
                   th:value="${pageSettings.size}"
                   min="1"
                   max="100"
                   class="pagination-size-input"
                   th:title="#{pagination.size.title}">
            <button type="submit"
                    class="pagination-size-button"
                    th:text="#{button.send}"></button>
        </form>
    </div>
</div>
</body>
</html>