<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{table.meal.list}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media='screen'
          th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div th:replace="~{fragments :: alert-block(${alert})}"></div>
<div class="content">
    <div class="line-container">
        <h1 th:text="#{table.meal.list} + ':' "></h1>
        <form name="save-meal"
              method="get"
              th:action="@{/users/{userId}/meals/create(userId=${userId})}">
            <button type="submit"
                    class="medium-action-button"
                    th:text="#{table.meal.save}">
            </button>
        </form>
    </div>
    <table>
        <tr>
            <th th:text="#{table.dish.column.name}"></th>
            <th class="sortable-header">
                <a th:href="@{/users/{userId}/meals(userId=${userId},
                              page=0,
                              size=${pageSettings.size},
                              sortField='date',
                              sortDirection=${pageSettings.sortField == 'date' ?
                                  (pageSettings.sortDirection == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                    <span th:text="#{table.meal.column.date}  + ' ' "></span>
                    <span
                            th:if="${pageSettings.sortField == 'date'}"
                            th:text="${pageSettings.sortDirection == 'asc' ? '&#9650;' : '&#9660;'}">
                    </span>
                </a>
            </th>
            <th th:text="#{table.meal.column.meal-time}"></th>
            <th th:text="#{label.action}" colspan="2"></th>
        </tr>
        <tr th:each="meal : ${mealList}">
            <td th:text="${meal.dish.name}"></td>
            <td th:text="${meal.date}"></td>
            <td th:text="#{${meal.mealTime.messageKey}}"></td>
            <td>
                <form name="update"
                      method="get"
                      th:action="@{/users/{userId}/meals/edit/{mealId}
                      (userId=${userId},
                       mealId=${meal.id})}">
                    <button type="submit"
                            class="small-action-button update"
                            th:text="#{button.update}">
                    </button>
                </form>
            </td>
            <td>
                <form name="delete"
                      method="post"
                      th:action="@{/users/{userId}/meals/delete/{mealId}
                      (userId=${userId},
                       mealId=${meal.id})}">
                    <input type="hidden"
                           th:name="userId"
                           th:value="${userId}">
                    <button type="submit"
                            class="small-action-button delete"
                            th:onclick="'return confirm(\'' + #{alert.confirm.delete} + '\');'"
                            th:text="#{button.delete}">
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <a th:if="${pageSettings.page > 0}"
           th:href="@{/users/{userId}/meals(userId=${userId},
                       page=${pageSettings.page - 1},
                       size=${pageSettings.size},
                       sortField=${pageSettings.sortField},
                       sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="#{button.previous}"></a>

        <span th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:if="${page != pageSettings.page}"
           th:href="@{/users/{userId}/meals(userId=${userId},
                          page=${page},
                          size=${pageSettings.size},
                          sortField=${pageSettings.sortField},
                          sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="${page + 1}"></a>
        <span th:unless="${page != pageSettings.page}"
              class="pagination-current"
              th:text="${page + 1}"></span>
        </span>
        <a th:if="${pageSettings.page < totalPages - 1}"
           th:href="@{/users/{userId}/meals(userId=${userId},
                       page=${pageSettings.page + 1},
                       size=${pageSettings.size},
                       sortField=${pageSettings.sortField},
                       sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="#{button.next}"></a>

        <form class="pagination-size-form"
              th:action="@{/users/{userId}/meals(userId=${userId})}"
              method="get">
            <input type="hidden" name="page" th:value="0">
            <input type="hidden" name="sortField" th:value="${pageSettings.sortField}">
            <input type="hidden" name="sortDirection" th:value="${pageSettings.sortDirection}">
            <input type="number"
                   name="size"
                   th:value="${pageSettings.size}"
                   min="1"
                   max="100"
                   class="pagination-size-input"
                   th:title="#{pagination.size.title}">
            <button type="submit"
                    class="pagination-size-button"
                    th:text="#{button.send}"></button>
        </form>
    </div>
    <form name="list-users"
          method="get"
          th:action="@{/users}">
        <button type="submit"
                class="medium-action-button"
                th:text="#{table.user.return}">
        </button>
    </form>
</div>
</body>
</html>