<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{table.dish-ingredient.list}"></title>
    <link rel="stylesheet" type="text/css" media='screen'
          th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div th:replace="~{fragments :: alert-block(${alert})}"></div>
<div class="content">
    <div class="line-container">
        <h1 th:text="#{table.dish-ingredient.list} + ':' "></h1>
        <form name="save-dish-ingredient"
              method="get"
              th:action="@{/dish-ingredients/create}">
            <input type="hidden"
                   th:name="dishId"
                   th:value="${dishId}">
            <button type="submit"
                    class="medium-action-button"
                    th:text="#{table.dish-ingredient.save}">
            </button>
        </form>
    </div>
    <table>
        <tr>
            <td th:text="#{column.id}"></td>
            <td th:text="#{table.ingredient.column.name}"></td>
            <td th:text="#{table.dish-ingredient.column.amount}"></td>
            <td th:text="#{label.action}" colspan="2"></td>
        </tr>
        <tr th:each="dishIngredient : ${dishIngredientList}">
            <td th:text="${dishIngredient.id}"></td>
            <td th:text="${dishIngredient.ingredient.name}"></td>
            <td th:text="${dishIngredient.amount} + '&nbsp'
             + #{${dishIngredient.measureUnit.messageKey}}"></td>
            <td>
                <form name="update-dish-ingredient"
                      method="get"
                      th:action="@{/dish-ingredients/edit/{dish-ingredientId}
                          (dish-ingredientId=${dishIngredient.id})}">
                    <input type="hidden"
                           th:name="dishId"
                           th:value="${dishId}">
                    <button type="submit"
                            class="small-action-button update"
                            th:text="#{button.update}">
                    </button>
                </form>
            </td>
            <td>
                <form name="delete"
                      method="post"
                      th:action="@{/dish-ingredients/delete/{dish-ingredientId}
                          (dish-ingredientId=${dishIngredient.id})}">
                    <input type="hidden"
                           th:name="dishId"
                           th:value="${dishId}">
                    <button type="submit"
                            class="small-action-button delete"
                            th:onclick="'return confirm(\'' + #{alert.confirm.delete} + '\');'"
                            th:text="#{button.delete}">
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <form name="list-dishes"
          method="get"
          th:action="@{/dishes}">
        <button type="submit"
                class="medium-action-button"
                th:text="#{table.dish.return}">
        </button>
    </form>
</div>
</body>
</html>