<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{table.dish-ingredient.list}"></title>
    <link rel="stylesheet" type="text/css" media='screen'
          th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments :: sidebar}"></div>
<div th:replace="~{fragments :: alert-block(${alert})}"></div>
<div class="content">
    <div class="line-container">
        <h1 th:text="#{table.dish-ingredient.list} + ':' "></h1>
        <form name="save-dish-ingredient"
              method="get"
              th:action="@{/dishes/{dishId}/dish-ingredients/create(dishId=${dishId})}">
            <button type="submit"
                    class="medium-action-button"
                    th:text="#{table.dish-ingredient.save}">
            </button>
        </form>
    </div>
    <table>
        <tr>
            <th class="sortable-header">
                <a th:href="@{/dishes/{dishId}/dish-ingredients(dishId=${dishId},
                              page=0,
                              size=${pageSettings.size},
                              sortField='ingredient',
                              sortDirection=${pageSettings.sortField == 'ingredient' ?
                                  (pageSettings.sortDirection == 'asc' ? 'desc' : 'asc') : 'asc'})}">
                    <span th:text="#{table.ingredient.column.name}  + ' ' "></span>
                    <span
                            th:if="${pageSettings.sortField == 'ingredient'}"
                            th:text="${pageSettings.sortDirection == 'asc' ? '&#9650;' : '&#9660;'}">
                    </span>
                </a>
            </th>
            <th th:text="#{table.dish-ingredient.column.amount}"></th>
            <th th:text="#{label.action}" colspan="2"></th>
        </tr>
        <tr th:each="dishIngredient : ${dishIngredientList}">
            <td th:text="${dishIngredient.ingredient.name}"></td>
            <td th:text="${dishIngredient.amount} + '&nbsp'
             + #{${dishIngredient.measureUnit.messageKey}}"></td>
            <td>
                <form name="update-dish-ingredient"
                      method="get"
                      th:action="@{/dishes/{dishId}/dish-ingredients/edit/{dish-ingredientId}
                          (dishId=${dishId},
                           dish-ingredientId=${dishIngredient.id})}">
                    <button type="submit"
                            class="small-action-button update"
                            th:text="#{button.update}">
                    </button>
                </form>
            </td>
            <td>
                <form name="delete"
                      method="post"
                      th:action="@{/dishes/{dishId}/dish-ingredients/delete/{dish-ingredientId}
                          (dishId=${dishId},
                           dish-ingredientId=${dishIngredient.id})}">
                    <input type="hidden"
                           th:name="dishId"
                           th:value="${dishId}">
                    <button type="submit"
                            class="small-action-button delete"
                            th:onclick="'return confirm(\'' + #{alert.confirm.delete} + '\');'"
                            th:text="#{button.delete}">
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <a th:if="${pageSettings.page > 0}"
           th:href="@{/dishes/{dishId}/dish-ingredients(dishId=${dishId},
                       page=${pageSettings.page - 1},
                       size=${pageSettings.size},
                       sortField=${pageSettings.sortField},
                       sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="#{button.previous}"></a>

        <span th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:if="${page != pageSettings.page}"
           th:href="@{/dishes/{dishId}/dish-ingredients(dishId=${dishId},
                          page=${page},
                          size=${pageSettings.size},
                          sortField=${pageSettings.sortField},
                          sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="${page + 1}"></a>
        <span th:unless="${page != pageSettings.page}"
              class="pagination-current"
              th:text="${page + 1}"></span>
        </span>
        <a th:if="${pageSettings.page < totalPages - 1}"
           th:href="@{/dishes/{dishId}/dish-ingredients(dishId=${dishId},
                       page=${pageSettings.page + 1},
                       size=${pageSettings.size},
                       sortField=${pageSettings.sortField},
                       sortDirection=${pageSettings.sortDirection})}"
           class="pagination-button"
           th:text="#{button.next}"></a>

        <form class="pagination-size-form"
              th:action="@{/dishes/{dishId}/dish-ingredients(dishId=${dishId})}"
              method="get">
            <input type="hidden" name="page" th:value="0">
            <input type="hidden" name="sortField" th:value="${pageSettings.sortField}">
            <input type="hidden" name="sortDirection" th:value="${pageSettings.sortDirection}">
            <input type="number"
                   name="size"
                   th:value="${pageSettings.size}"
                   min="1"
                   max="100"
                   class="pagination-size-input"
                   th:title="#{pagination.size.title}">
            <button type="submit"
                    class="pagination-size-button"
                    th:text="#{button.send}"></button>
        </form>
    </div>
    <form name="list-dishes"
          method="get"
          th:action="@{/dishes}">
        <button type="submit"
                class="medium-action-button"
                th:text="#{table.dish.return}">
        </button>
    </form>
</div>
</body>
</html>